---
import { Icon } from 'astro-iconify'

import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class="lg:flex py-4 pt-2 px-4 sm:px-6 xl:px-0 md:pt-10 gap-5 mb-10 lg:mb-28 w-full">
  <Astronav>
    <div class="flex w-full justify-between items-end border-b lg:border-none pb-4 lg:pb-0">
      <a class="font-semibold text-xl flex gap-2 items-center group" href="/"><Icon name="radix-icons:crumpled-paper" class="w-5 h-5 group-hover:rotate-[17deg]" />ADB</a>
      <div class="lg:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
		<ThemeIcon class="w-10" />
      </div>
    </div>
  </Astronav>
</header>
