---
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import ThemeIcon from "./ThemeIcon.astro";
---

<header
  class="lg:flex py-4 pt-2 px-4 sm:px-6 xl:px-0 md:pt-10 gap-5 mb-10 w-full"
>
  <Astronav>
    <div
      class="flex w-full justify-between items-end border-b lg:border-none pb-4 lg:pb-0"
    >
      <a class="font-semibold text-xl flex gap-2 items-center group" href="/">
        <!-- <Icon name="icon" class="w-5 h-5 group-hover:rotate-[180deg]" /> -->
        <img
          src="icon.png"
          class="w-7 h-7 group-hover:rotate-[180deg]"
        />
        ADB
      </a>
      <div class="lg:hidden flex items-center justify-center gap-4">
        <MenuIcon class="w-4 h-4 text-gray-800 dark:text-neutral-300" />
        <ThemeIcon class="w-10" />
      </div>
    </div>
    <MenuItems class="hidden lg:flex">
      <ul
        class="flex flex-col lg:flex-row lg:gap-5 gap-3 mt-3 lg:mt-0 pb-4 lg:pb-0 border-b border-neutral-400 lg:border-b-0"
      >
        <!-- <li class="flex items-center"><a href="/blog">Posts</a></li> -->
        <ThemeIcon class="w-10 hidden lg:flex" />
      </ul>
    </MenuItems>
  </Astronav>
</header>
